/* For desktop */
:root {
  --device-model: 'desktop';
  --darkmode-text-color: #6495ed;

  --small-button-size: 45px;
  --medium-button-size: 55px;
  --big-button-size: 65px;

  --sidebar-expanded-big: 250px;
  /* Bottom one gonna be used for mobile */
  --sidebar-expanded-small: 250px;

  --align-relatives-fromtopnav: calc(var(--big-button-size) + 1px);
  --align-relatives-fromsidenav: 65px;
  /* First note's height or first one of the 6 note's maximum height need to set to here. */
  --notes-totalnoteheight: 136px;
}

/* Fonts */
.font-small{
  font-size: small;
}

.font-medium{
  font-size: medium;
}

.font-large{
  font-size: large;
}

/* Buttons */
.button_defaultsize{
  width: var(--small-button-size);
  height: var(--small-button-size);
}

.button_mediumsize{
  width: var(--medium-button-size);;
  height: var(--medium-button-size);
}

.button_bigsize{
  width: var(--big-button-size);
  height: var(--big-button-size);
}

/* Sidenav */
/* NOT NEEDED ANYMORE */
/* .sidenav .svg_default{
  width: 21px;
  height: 21px;
  float: left;
}

.sidenav .svg_medium{
  width: 31px;
  height: 31px;
  float: left;
} */

.sidenav .svg_big{
  /* width: 41px; */
  height: 100%;
  float: left;
}
