/* For desktop */

/* Fonts */
.font-small{
  font-size: small;
}

.font-medium{
  font-size: medium;
}

.font-large{
  font-size: large;
}

/* Buttons */
.button_defaultsize{
  width: var(--small-button-size);
  height: var(--small-button-size);
}

.button_mediumsize{
  width: var(--medium-button-size);;
  height: var(--medium-button-size);
}

.button_bigsize{
  width: var(--big-button-size);
  height: var(--big-button-size);
}

.button_mobilepadding{
  /* 4px should be okey */
  padding: 2px;
}

/* Sidenav */
/* NOT NEEDED ANYMORE */
/* .sidenav .svg_default{
  width: 21px;
  height: 21px;
  float: left;
}

.sidenav .svg_medium{
  width: 31px;
  height: 31px;
  float: left;
} */

.sidenav .svg_big{
  /* width: 41px; */
  height: 100%;
  float: left;
}
